// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   27-10-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 27-10-2017

page-results {
  h1 {
    padding-top: 2.2em;
  }
  .headerTimeDetail {
    padding-bottom: 3.2em;
  }
  section .item-md {
    background-color: color($colors, secondary, base);
  }
  span.search {
    padding: 0px 10px;
    transform: translateY(-3px);
    display: inline-block;
  }
  span.ticket {
    max-height: 36px;
    max-width: 36px;

    svg {
      fill: #fff;
    }
  }
  section button.item.item-block.item-md {
      border-bottom: solid 4px #fff;
  }
  section .list-md .item-block .item-inner {
      border-bottom: 0px solid #dedede;
  }
  span.item-button.button.button-md.button-clear.button-clear-md {
    background: color($colors, primary, base);
    min-height: 52px;
  }

}
