<!-- {{connection?.sections[0]?.journey?.category}} -->
<ion-grid>
  <ion-row>
    <ion-col  col-3>
      <div class="icon-type">
        <svg viewBox="0 0 20 20" width="100%" height="100%">
          <path [attr.d]="connection.legs[0].type|connectionTypeIcon" transform="translate(2 2)" id="sbb_oev_b_t02"></path>
        </svg>
      </div>
      <div *ngIf="!connection.legs[0].type.includes('bus');else isBus" [ngClass]="{'icon-cat': true, 'white': (connection.legs[0].line === 'RE')}">
        <svg viewBox="0 0 59 20" width="100%" height="100%">
          <path [attr.d]="connection.legs[0].line|connectionCatIcon"></path>
        </svg>
      </div>
      <ng-template #isBus>
        <span class="isBus">
          BUS {{ connection.legs[0].line }}
        </span>
      </ng-template>
    </ion-col>
    <ion-col col-7>
      <p text-center>
        {{ 'results.direction'|translate }} {{connection?.legs[0].terminal || '-'}}
      </p>
    </ion-col>
  </ion-row>
<!-- {{ connection.legs[0].stops.length|json}} -->
  <!-- <ion-row>
      <ion-col col-3>{{connection.legs[0].departure|moment:'H:mm'}}</ion-col>
      <ion-col>
        <ol class="mod_timetable_pearl_chain">
          <li class="mod_timetable_pearl_chain_stop"></li>
          <li *ngFor="let stop of connection.legs[0].stops" class="mod_timetable_pearl_chain_stop" style="width: 50%"></li>
          <li *ngIf="connection.legs[0].stops.length>0;else noStop" class="mod_timetable_pearl_chain_stop" style="width: 50%"></li>
          <ng-template #noStop>
            <li class="mod_timetable_pearl_chain_stop" style="width: 100%"></li>
          </ng-template>
        </ol>
      </ion-col>
      <ion-col col-2>{{connection.legs[1].arrival|moment:'H:mm'}}</ion-col>
  </ion-row> -->
  <ion-row>
      <ion-col col-3>{{connection.legs[0].departure|moment:'H:mm'}}</ion-col>
      <ion-col>
        <ol  *ngIf="connection.legs.length>2;else noLegs" class="mod_timetable_pearl_chain">
            <li *ngFor="let leg of connection.legs" class="mod_timetable_pearl_chain_stop multiStop"></li>
        </ol>
        <ng-template #noLegs>
          <ol class="mod_timetable_pearl_chain">
            <li class="mod_timetable_pearl_chain_stop"></li>
            <li class="mod_timetable_pearl_chain_stop" style="width: 100%"></li>
          </ol>
        </ng-template>
      </ion-col>
      <ion-col col-2>{{connection.legs[connection.legs.length-1].arrival|moment:'H:mm'}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <p *ngIf="connection?.legs[0].track">
        Voie {{connection?.legs[0].track}}
      </p>
    </ion-col>
    <ion-col>
      <p>{{connection?.duration|moment:'H:mm':true}}min</p>
    </ion-col>
  </ion-row>
</ion-grid>
