// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   27-10-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 28-10-2017

page-index {
  ion-title {
    // display: none;
  }

  h1 {
    padding-top: 2.2em;
    padding-bottom: 1em;
  }

  section {
    .item-md {
      padding-right: 16px;
    }

    .label-md-dark, .item-input .label-md-dark, .item-select .label-md-dark, .item-datetime .label-md-dark{
      margin-bottom: .38462em;
    }

    .item-block .item-inner {
      border-bottom: none!important;
      padding-right: 0px!important;
    }

    ion-item.dropDown {
      border-left: solid 2px #b7b7b7;
      border-right: solid 2px #b7b7b7;
      border-bottom: solid 2px #b7b7b7;
      margin-top: -1px;

      p {
          padding: 20px 0px;
      }
    }


    ion-input.input, .datetime-text {
      padding: .625em .75em!important;
      border: solid .125em color($colors, light, base)!important;
    }
    .datetime-md {
      padding: 13px 0px 13px 0px;
    }
    .datetime-text {
      min-height: 59px;
      line-height: 3.6rem;
    }
  }


}
