<!--
Generated template for the IndexPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>{{ 'APP_TITLE'|translate }}</ion-title>
    <ion-buttons end>
      <logo-svg></logo-svg>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <section padding>

    <h1 text-center padding-left padding-right>
      {{ 'index.title'|translate }}
    </h1>
    <form [formGroup]="form">

      <ion-item>
        <ion-label color="dark" stacked>{{ 'index.form.from'|translate }}</ion-label>
        <ion-input (keyup)="autoComplet($event, 'from')" clearInput="true" type="text" name="from" formControlName="from"  placeholder="Départ"></ion-input>
      </ion-item>
      <div *ngIf="cityList|async as cities" padding-left padding-right>
        <ion-item *ngIf="(dropDownActive === 'from')" [ngClass]="{'dropDown': true, 'open': ((cities||[]).length>0)}">
          <div *ngFor="let city of cities">
            <p (click)="selectCity(city.label, 'from')">{{ city.label }}</p>
          </div>
        </ion-item>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{ 'index.form.to'|translate }}</ion-label>
        <ion-input (keyup)="autoComplet($event, 'to')" clearInput="true" type="text" name="to" formControlName="to"  placeholder="Déstination"></ion-input>
      </ion-item>
      <div *ngIf="cityList|async as cities" padding-left padding-right>
        <ion-item *ngIf="(dropDownActive === 'to')" [ngClass]="{'dropDown': true, 'open': ((cities||[]).length>0)}">
          <div *ngFor="let city of cities">
            <p (click)="selectCity(city.label, 'to')">{{ city.label }}</p>
          </div>
        </ion-item>
      </div>

      <ion-row>
        <ion-col col-7>
          <ion-item>
            <ion-label stacked>{{ 'index.form.date'|translate }}</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" pickerFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-5>
          <ion-item>
            <ion-label stacked>{{ 'index.form.time'|translate }}</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="time"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <div margin-left margin-right margin-bottom>
      <button (click)="search()" ion-button block large margin-top color="primary">{{ 'index.form.search'|translate }}</button>
    </div>
  </section>


  <footer-list></footer-list>
  <translate-switch></translate-switch>

</ion-content>
