<div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded">
  <!-- {{ datas|json }} -->
  <div *ngIf="datas.html;else detailStop">
    <ng-content></ng-content>
  </div>

  <ng-template #detailStop>
    <ol >
      <li>
        <p>{{ datas.from.time|moment:'H:mm' }} - {{ datas.from.name }}</p>
      </li>
      <li *ngFor="let stop of datas.stops;">
        <!-- {{ stop|json }} -->
        <p>{{ stop.arrival|moment:'H:mm' }} - {{ stop.name }} </p>
      </li>
      <li>
        <p>{{ datas.to.time|moment:'H:mm' }} - {{ datas.to.name }}</p>
      </li>
    </ol>
  </ng-template>

</div>
